{% extends "global.html" %} 

{% block ogTitle %} Profile (Admin View) {% endblock %} 
{% block title %} Profile (Admin View) {% endblock %} 
{% block CSS %}
{% endblock %}

{% block bodyContent %}

<section class="width_limit user-select-none text-center">

    <br>
        
    <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="text-start">Origin ID</th>
            <td class="text-start">{{ data['mattermost_id'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Given Name</th>
            <td class="text-start">{{ data['first_name'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Family Name</th>
            <td class="text-start">{{ data['last_name'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Nickname</th>
            <td class="text-start">{{ data['nickname'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Domain Username</th>
            <td class="text-start">{{ data['preferred_username'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Email</th>
            <td class="text-start">{{ data['email'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Member Since</th>
            <td class="text-start">{{ data['create_at'] | joindate }} <small>({{ data['create_at'] }})</small></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Email Verified</th>
            <td class="text-start">{{ data['email_verified'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">MFA Status</th>
            <td class="text-start">{{ data['mfa_active'] }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Last Visit</th>
            <td class="text-start">{{ data['time_last_visit'] | ctime }} <small>({{ data['time_last_visit'] }})</small></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">First Visit</th>
            <td class="text-start">{{ data['time_first_visit'] | ctime }} <small>({{ data['time_first_visit'] }})</small></td>
          </tr>


        </tbody>
      </table>
</section>

<section class="message_error">
    {{ error_section | safe }}
</section>

<style>
    .width_limit {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3vh;
        padding-left: 15px;
        padding-right: 15px;
    }
    .message_error {
        color: red;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
    }
</style>

{% endblock %}
